<nav>
    <a href="http://localhost:3000/">Главная</a>
    <a href="http://localhost:3000/create/user"> Создать пользователя</a>
    <a href="http://localhost:3000/user/info">Информация о пользователе</a>
    <a href="http://localhost:3000/users">Юзеры</a>
</nav>